{% extends "base.html" %}


{% block title %}测试小课堂-登录{% endblock %}

{% block head %}{% endblock %}


{% block body %}
<div class="row mt-5">
  <div class="col-sm"></div>
  <div class="col-sm">
    <form method="post" action="{{ url_for('api.register') }}">
      <div class="form-group">
        <label for="exampleInputEmail1">邮箱</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <div class="input-group is-invalid">
          <label for="validatedInputGroupCustomFile"></label>
          <div class="custom-file">
            <input type="text" class="form-control" id="validatedInputGroupCustomFile" name="captcha" required>
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">获取验证码</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleTextarea">用户名</label>
        <input type="text" class="form-control" id="exampleTextarea" name="username">
        <small class="form-text text-muted">赶紧输入用户名</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">密码</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        <small id="passwordHelpBlock" class="form-text text-muted">
          长度必须为 8-20 个字符。
        </small>
      </div>
      <div class="form-group">
        <label for="exampleTextarea1">昵称</label>
        <input type="text" class="form-control" id="exampleTextarea1" name="nickname">
      </div>
      <input type="submit" class="btn btn-primary btn-block">注册</input>
    </form>
  </div>
  <div class="col-sm"></div>
</div>
{% endblock %}